// import ../_variables.sass
/* --- Text Colors --- */
// Bootstrap
// Primary
.l-primary
  color: $light-primary
  &-hover:hover
    @extend .l-primary
.n-primary
  color: $normal-primary
  &-hover:hover
    @extend .n-primary
.d-primary
  color: $dark-primary
  &-hover:hover
    @extend .d-primary
// Secondary
.l-secondary
  color: $light-secondary
  &-hover:hover
    @extend .l-secondary
.n-secondary
  color: $normal-secondary
  &-hover:hover
    @extend .n-secondary
.d-secondary
  color: $dark-secondary
  &-hover:hover
    @extend .d-secondary
// Success
.l-success
  color: $light-success
  &-hover:hover
    @extend .l-success
.n-success
  color: $normal-success
  &-hover:hover
    @extend .n-success
.d-success
  color: $dark-success
  &-hover:hover
    @extend .d-success
// Danger
.l-danger
  color: $light-danger
  &-hover:hover
    @extend .l-danger
.n-danger
  color: $normal-danger
  &-hover:hover
    @extend .n-danger
.d-danger
  color: $dark-danger
  &-hover:hover
    @extend .d-danger
// Warning
.l-warning
  color: $light-warning
  &-hover:hover
    @extend .l-warning
.n-warning
  color: $normal-warning
  &-hover:hover
    @extend .n-warning
.d-warning
  color: $dark-warning
  &-hover:hover
    @extend .d-warning
// Info
.l-info
  color: $light-info
  &-hover:hover
    @extend .l-info
.n-info
  color: $normal-info
  &-hover:hover
    @extend .n-info
.d-info
  color: $dark-info
  &-hover:hover
    @extend .d-info
// light
.n-light
  color: $normal-light
  &-hover:hover
    @extend .n-light
// Muted
.l-muted
  color: $light-muted
  &-hover:hover
    @extend .l-muted
.n-muted
  color: $normal-muted
  &-hover:hover
    @extend .n-muted
.d-muted
  color: $dark-muted
  &-hover:hover
    @extend .d-muted

// Bootstraplus
// Navy
.l-navy
  color: $light-navy
  &-hover:hover
    @extend .l-navy
.n-navy
  color: $normal-navy
  &-hover:hover
    @extend .n-navy
.d-navy
  color: $dark-navy
  &-hover:hover
    @extend .d-navy
// Indigo
.l-indigo
  color: $light-indigo
  &-hover:hover
    @extend .l-indigo
.n-indigo
  color: $normal-indigo
  &-hover:hover
    @extend .n-indigo
.d-indigo
  color: $dark-indigo
  &-hover:hover
    @extend .d-indigo
// Blue
.l-blue
  color: $light-blue
  &-hover:hover
    @extend .l-blue
.n-blue
  color: $normal-blue
  &-hover:hover
    @extend .n-blue
.d-blue
  color: $dark-blue
  &-hover:hover
    @extend .d-blue
// Cyan
.l-cyan
  color: $light-cyan
  &-hover:hover
    @extend .l-cyan
.n-cyan
  color: $normal-cyan
  &-hover:hover
    @extend .n-cyan
.d-cyan
  color: $dark-cyan
  &-hover:hover
    @extend .d-cyan
// Lilac
.l-lilac
  color: $light-lilac
  &-hover:hover
    @extend .l-lilac
.n-lilac
  color: $normal-lilac
  &-hover:hover
    @extend .n-lilac
.d-lilac
  color: $dark-lilac
  &-hover:hover
    @extend .d-lilac
// Purple
.l-purple
  color: $light-purple
  &-hover:hover
    @extend .l-purple
.n-purple
  color: $normal-purple
  &-hover:hover
    @extend .n-purple
.d-purple
  color: $dark-purple
  &-hover:hover
    @extend .d-purple
// Pink
.l-pink
  color: $light-pink
  &-hover:hover
    @extend .l-pink
.n-pink
  color: $normal-pink
  &-hover:hover
    @extend .n-pink
.d-pink
  color: $dark-pink
  &-hover:hover
    @extend .d-pink
// Red
.l-red
  color: $light-red
  &-hover:hover
    @extend .l-red
.n-red
  color: $normal-red
  &-hover:hover
    @extend .n-red
.d-red
  color: $dark-red
  &-hover:hover
    @extend .d-red
// Orange
.l-orange
  color: $light-orange
  &-hover:hover
    @extend .l-orange
.n-orange
  color: $normal-orange
  &-hover:hover
    @extend .n-orange
.d-orange
  color: $dark-orange
  &-hover:hover
    @extend .d-orange
// Amber
.l-amber
  color: $light-amber
  &-hover:hover
    @extend .l-amber
.n-amber
  color: $normal-amber
  &-hover:hover
    @extend .n-amber
.d-amber
  color: $dark-amber
  &-hover:hover
    @extend .d-amber
// Yellow
.l-yellow
  color: $light-yellow
  &-hover:hover
    @extend .l-yellow
.n-yellow
  color: $normal-yellow
  &-hover:hover
    @extend .n-yellow
.d-yellow
  color: $dark-yellow
  &-hover:hover
    @extend .d-yellow
// Lime
.l-lime
  color: $light-lime
  &-hover:hover
    @extend .l-lime
.n-lime
  color: $normal-lime
  &-hover:hover
    @extend .n-lime
.d-lime
  color: $dark-lime
  &-hover:hover
    @extend .d-lime
// Green
.l-green
  color: $light-green
  &-hover:hover
    @extend .l-green
.n-green
  color: $normal-green
  &-hover:hover
    @extend .n-green
.d-green
  color: $dark-green
  &-hover:hover
    @extend .d-green
// Brown
.l-brown
  color: $light-brown
  &-hover:hover
    @extend .l-brown
.n-brown
  color: $normal-brown
  &-hover:hover
    @extend .n-brown
.d-brown
  color: $dark-brown
  &-hover:hover
    @extend .d-brown
// Teal
.l-teal
  color: $light-teal
  &-hover:hover
    @extend .l-teal
.n-teal
  color: $normal-teal
  &-hover:hover
    @extend .n-teal
.d-teal
  color: $dark-teal
  &-hover:hover
    @extend .d-teal
// Gray
.l-gray
  color: $light-gray
  &-hover:hover
    @extend .l-gray
.n-gray
  color: $normal-gray
  &-hover:hover
    @extend .n-gray
.d-gray
  color: $dark-gray
  &-hover:hover
    @extend .d-gray
// Elegant
.l-elegant
  color: $light-elegant
  &-hover:hover
    @extend .l-elegant
.n-elegant
  color: $normal-elegant
  &-hover:hover
    @extend .n-elegant
.d-elegant
  color: $dark-elegant
  &-hover:hover
    @extend .d-elegant
// White
.n-white
  color: $normal-white
  &-hover:hover
    @extend .n-white
// Black
.n-black
  color: $normal-black
  &-hover:hover
    @extend .n-black


/* --- Background Colors --- */
// Primary
.bgl-primary
  background: $light-primary
  &-hover:hover
    @extend .bgl-primary
.bgn-primary
  background: $normal-primary
  &-hover:hover
    @extend .bgn-primary
.bgd-primary
  background: $dark-primary
  &-hover:hover
    @extend .bgd-primary
// Secondary
.bgl-secondary
  background: $light-secondary
  &-hover:hover
    @extend .bgl-secondary
.bgn-secondary
  background: $normal-secondary
  &-hover:hover
    @extend .bgn-secondary
.bgd-secondary
  background: $dark-secondary
  &-hover:hover
    @extend .bgd-secondary
// Success
.bgl-success
  background: $light-success
  &-hover:hover
    @extend .bgl-success
.bgn-success
  background: $normal-success
  &-hover:hover
    @extend .bgn-success
.bgd-success
  background: $dark-success
  &-hover:hover
    @extend .bgd-success
// Danger
.bgl-danger
  background: $light-danger
  &-hover:hover
    @extend .bgl-danger
.bgn-danger
  background: $normal-danger
  &-hover:hover
    @extend .bgn-danger
.bgd-danger
  background: $dark-danger
  &-hover:hover
    @extend .bgd-danger
// Warning
.bgl-warning
  background: $light-warning
  &-hover:hover
    @extend .bgl-warning
.bgn-warning
  background: $normal-warning
  &-hover:hover
    @extend .bgn-warning
.bgd-warning
  background: $dark-warning
  &-hover:hover
    @extend .bgd-warning
// Info
.bgl-info
  background: $light-info
  &-hover:hover
    @extend .bgl-info
.bgn-info
  background: $normal-info
  &-hover:hover
    @extend .bgn-info
.bgd-info
  background: $dark-info
  &-hover:hover
    @extend .bgd-info
// light
.bgn-light
  background: $normal-light
  &-hover:hover
    @extend .bgn-light
// Muted
.bgl-muted
  background: $light-muted
  &-hover:hover
    @extend .bgl-muted
.bgn-muted
  background: $normal-muted
  &-hover:hover
    @extend .bgn-muted
.bgd-muted
  background: $dark-muted
  &-hover:hover
    @extend .bgd-muted
// Navy
.bgl-navy
  background: $light-navy
  &-hover:hover
    @extend .bgl-navy
.bgn-navy
  background: $normal-navy
  &-hover:hover
    @extend .bgn-navy
.bgd-navy
  background: $dark-navy
  &-hover:hover
    @extend .bgd-navy
// Indigo
.bgl-indigo
  background: $light-indigo
  &-hover:hover
    @extend .bgl-indigo
.bgn-indigo
  background: $normal-indigo
  &-hover:hover
    @extend .bgn-indigo
.bgd-indigo
  background: $dark-indigo
  &-hover:hover
    @extend .bgd-indigo
// Blue
.bgl-blue
  background: $light-blue
  &-hover:hover
    @extend .bgl-blue
.bgn-blue
  background: $normal-blue
  &-hover:hover
    @extend .bgn-blue
.bgd-blue
  background: $dark-blue
  &-hover:hover
    @extend .bgd-blue
// Cyan
.bgl-cyan
  background: $light-cyan
  &-hover:hover
    @extend .bgl-cyan
.bgn-cyan
  background: $normal-cyan
  &-hover:hover
    @extend .bgn-cyan
.bgd-cyan
  background: $dark-cyan
  &-hover:hover
    @extend .bgd-cyan
// Lilac
.bgl-lilac
  background: $light-lilac
  &-hover:hover
    @extend .bgl-lilac
.bgn-lilac
  background: $normal-lilac
  &-hover:hover
    @extend .bgn-lilac
.bgd-lilac
  background: $dark-lilac
  &-hover:hover
    @extend .bgd-lilac
// Purple
.bgl-purple
  background: $light-purple
  &-hover:hover
    @extend .bgl-purple
.bgn-purple
  background: $normal-purple
  &-hover:hover
    @extend .bgn-purple
.bgd-purple
  background: $dark-purple
  &-hover:hover
    @extend .bgd-purple
// Pink
.bgl-pink
  background: $light-pink
  &-hover:hover
    @extend .bgl-pink
.bgn-pink
  background: $normal-pink
  &-hover:hover
    @extend .bgn-pink
.bgd-pink
  background: $dark-pink
  &-hover:hover
    @extend .bgd-pink
// Red
.bgl-red
  background: $light-red
  &-hover:hover
    @extend .bgl-red
.bgn-red
  background: $normal-red
  &-hover:hover
    @extend .bgn-red
.bgd-red
  background: $dark-red
  &-hover:hover
    @extend .bgd-red
// Orange
.bgl-orange
  background: $light-orange
  &-hover:hover
    @extend .bgl-orange
.bgn-orange
  background: $normal-orange
  &-hover:hover
    @extend .bgn-orange
.bgd-orange
  background: $dark-orange
  &-hover:hover
    @extend .bgd-orange
// Amber
.bgl-amber
  background: $light-amber
  &-hover:hover
    @extend .bgl-amber
.bgn-amber
  background: $normal-amber
  &-hover:hover
    @extend .bgn-amber
.bgd-amber
  background: $dark-amber
  &-hover:hover
    @extend .bgd-amber
// Yellow
.bgl-yellow
  background: $light-yellow
  &-hover:hover
    @extend .bgl-yellow
.bgn-yellow
  background: $normal-yellow
  &-hover:hover
    @extend .bgn-yellow
.bgd-yellow
  background: $dark-yellow
  &-hover:hover
    @extend .bgd-yellow
// Lime
.bgl-lime
  background: $light-lime
  &-hover:hover
    @extend .bgl-lime
.bgn-lime
  background: $normal-lime
  &-hover:hover
    @extend .bgn-lime
.bgd-lime
  background: $dark-lime
  &-hover:hover
    @extend .bgd-lime
// Green
.bgl-green
  background: $light-green
  &-hover:hover
    @extend .bgl-green
.bgn-green
  background: $normal-green
  &-hover:hover
    @extend .bgn-green
.bgd-green
  background: $dark-green
  &-hover:hover
    @extend .bgd-green
// Brown
.bgl-brown
  background: $light-brown
  &-hover:hover
    @extend .bgl-brown
.bgn-brown
  background: $normal-brown
  &-hover:hover
    @extend .bgn-brown
.bgd-brown
  background: $dark-brown
  &-hover:hover
    @extend .bgd-brown
// Teal
.bgl-teal
  background: $light-teal
  &-hover:hover
    @extend .bgl-teal
.bgn-teal
  background: $normal-teal
  &-hover:hover
    @extend .bgn-teal
.bgd-teal
  background: $dark-teal
  &-hover:hover
    @extend .bgd-teal
// Gray
.bgl-gray
  background: $light-gray
  &-hover:hover
    @extend .bgl-gray
.bgn-gray
  background: $normal-gray
  &-hover:hover
    @extend .bgn-gray
.bgd-gray
  background: $dark-gray
  &-hover:hover
    @extend .bgd-gray
// Elegant
.bgl-elegant
  background: $light-elegant
  &-hover:hover
    @extend .bgl-elegant
.bgn-elegant
  background: $normal-elegant
  &-hover:hover
    @extend .bgn-elegant
.bgd-elegant
  background: $dark-elegant
  &-hover:hover
    @extend .bgd-elegant
// White
.bgn-white
  background: $normal-white
  &-hover:hover
    @extend .bgn-white
// Black
.bgn-black
  background: $normal-black
  &-hover:hover
    @extend .bgn-black



/* --- Background gradients colors --- */
// Most used in web design
.primary-gradient
  background: linear-gradient(90deg, #45cafc, #303f9f)
  &-hover:hover
    @extend .primary-gradient
.info-gradient
  background: linear-gradient(90deg, #2096ff, #05ffa3)
  &-hover:hover
    @extend .info-gradient
.warning-gradient
  background: linear-gradient(90deg, #ffd86f, #fc6262)
  &-hover:hover
    @extend .warning-gradient
.navy-gradient
  background: linear-gradient(90deg, #30cfd0, #330867)
  &-hover:hover
    @extend .navy-gradient
.purple-gradient
  background: linear-gradient(90deg, #ff6ec4, #7873f5)
  &-hover:hover
    @extend .purple-gradient
.pink-gradient
  background: linear-gradient(90deg, #fbc2eb, #a6c1ee)
  &-hover:hover
    @extend .pink-gradient