// import ../_variables.sass
/* --- Text Colors --- */
// Bootstrap
// Primary
.l-primary
  color: $light-primary
.n-primary
  color: $normal-primary
.d-primary
  color: $dark-primary
// Secondary
.l-secondary
  color: $light-secondary
.n-secondary
  color: $normal-secondary
.d-secondary
  color: $dark-secondary
// Success
.l-success
  color: $light-success
.n-success
  color: $normal-success
.d-success
  color: $dark-success
// Danger
.l-danger
  color: $light-danger
.n-danger
  color: $normal-danger
.d-danger
  color: $dark-danger
// Warning
.l-warning
  color: $light-warning
.n-warning
  color: $normal-warning
.d-warning
  color: $dark-warning
// Info
.l-info
  color: $light-info
.n-info
  color: $normal-info
.d-info
  color: $dark-info
// light
.n-light
  color: $normal-light
// Muted
.l-muted
  color: $light-muted
.n-muted
  color: $normal-muted
.d-muted
  color: $dark-muted

// Bootstraplus
// Navy
.l-navy
  color: $light-navy
.n-navy
  color: $normal-navy
.d-navy
  color: $dark-navy
// Indigo
.l-indigo
  color: $light-indigo
.n-indigo
  color: $normal-indigo
.d-indigo
  color: $dark-indigo
// Blue
.l-blue
  color: $light-blue
.n-blue
  color: $normal-blue
.d-blue
  color: $dark-blue
// Cyan
.l-cyan
  color: $light-cyan
.n-cyan
  color: $normal-cyan
.d-cyan
  color: $dark-cyan
// Lilac
.l-lilac
  color: $light-lilac
.n-lilac
  color: $normal-lilac
.d-lilac
  color: $dark-lilac
// Purple
.l-purple
  color: $light-purple
.n-purple
  color: $normal-purple
.d-purple
  color: $dark-purple
// Pink
.l-pink
  color: $light-pink
.n-pink
  color: $normal-pink
.d-pink
  color: $dark-pink
// Red
.l-red
  color: $light-red
.n-red
  color: $normal-red
.d-red
  color: $dark-red
// Orange
.l-orange
  color: $light-orange
.n-orange
  color: $normal-orange
.d-orange
  color: $dark-orange
// Amber
.l-amber
  color: $light-amber
.n-amber
  color: $normal-amber
.d-amber
  color: $dark-amber
// Yellow
.l-yellow
  color: $light-yellow
.n-yellow
  color: $normal-yellow
.d-yellow
  color: $dark-yellow
// Lime
.l-lime
  color: $light-lime
.n-lime
  color: $normal-lime
.d-lime
  color: $dark-lime
// Green
.l-green
  color: $light-green
.n-green
  color: $normal-green
.d-green
  color: $dark-green
// Brown
.l-brown
  color: $light-brown
.n-brown
  color: $normal-brown
.d-brown
  color: $dark-brown
// Teal
.l-teal
  color: $light-teal
.n-teal
  color: $normal-teal
.d-teal
  color: $dark-teal
// Gray
.l-gray
  color: $light-gray
.n-gray
  color: $normal-gray
.d-gray
  color: $dark-gray
// Elegant
.l-elegant
  color: $light-elegant
.n-elegant
  color: $normal-elegant
.d-elegant
  color: $dark-elegant
// White
.n-white
  color: $normal-white
// Black
.n-black
  color: $normal-black


/* --- Background Colors --- */
// Primary
.bgl-primary
  background: $light-primary
.bgn-primary
  background: $normal-primary
.bgd-primary
  background: $dark-primary
// Secondary
.bgl-secondary
  background: $light-secondary
.bgn-secondary
  background: $normal-secondary
.bgd-secondary
  background: $dark-secondary
// Success
.bgl-success
  background: $light-success
.bgn-success
  background: $normal-success
.bgd-success
  background: $dark-success
// Danger
.bgl-danger
  background: $light-danger
.bgn-danger
  background: $normal-danger
.bgd-danger
  background: $dark-danger
// Warning
.bgl-warning
  background: $light-warning
.bgn-warning
  background: $normal-warning
.bgd-warning
  background: $dark-warning
// Info
.bgl-info
  background: $light-info
.bgn-info
  background: $normal-info
.bgd-info
  background: $dark-info
// light
.bgn-light
  background: $normal-light
// Muted
.bgl-muted
  background: $light-muted
.bgn-muted
  background: $normal-muted
.bgd-muted
  background: $dark-muted
// Navy
.bgl-navy
  background: $light-navy
.bgn-navy
  background: $normal-navy
.bgd-navy
  background: $dark-navy
// Indigo
.bgl-indigo
  background: $light-indigo
.bgn-indigo
  background: $normal-indigo
.bgd-indigo
  background: $dark-indigo
// Blue
.bgl-blue
  background: $light-blue
.bgn-blue
  background: $normal-blue
.bgd-blue
  background: $dark-blue
// Cyan
.bgl-cyan
  background: $light-cyan
.bgn-cyan
  background: $normal-cyan
.bgd-cyan
  background: $dark-cyan
// Lilac
.bgl-lilac
  background: $light-lilac
.bgn-lilac
  background: $normal-lilac
.bgd-lilac
  background: $dark-lilac
// Purple
.bgl-purple
  background: $light-purple
.bgn-purple
  background: $normal-purple
.bgd-purple
  background: $dark-purple
// Pink
.bgl-pink
  background: $light-pink
.bgn-pink
  background: $normal-pink
.bgd-pink
  background: $dark-pink
// Red
.bgl-red
  background: $light-red
.bgn-red
  background: $normal-red
.bgd-red
  background: $dark-red
// Orange
.bgl-orange
  background: $light-orange
.bgn-orange
  background: $normal-orange
.bgd-orange
  background: $dark-orange
// Amber
.bgl-amber
  background: $light-amber
.bgn-amber
  background: $normal-amber
.bgd-amber
  background: $dark-amber
// Yellow
.bgl-yellow
  background: $light-yellow
.bgn-yellow
  background: $normal-yellow
.bgd-yellow
  background: $dark-yellow
// Lime
.bgl-lime
  background: $light-lime
.bgn-lime
  background: $normal-lime
.bgd-lime
  background: $dark-lime
// Green
.bgl-green
  background: $light-green
.bgn-green
  background: $normal-green
.bgd-green
  background: $dark-green
// Brown
.bgl-brown
  background: $light-brown
.bgn-brown
  background: $normal-brown
.bgd-brown
  background: $dark-brown
// Teal
.bgl-teal
  background: $light-teal
.bgn-teal
  background: $normal-teal
.bgd-teal
  background: $dark-teal
// Gray
.bgl-gray
  background: $light-gray
.bgn-gray
  background: $normal-gray
.bgd-gray
  background: $dark-gray
// Elegant
.bgl-elegant
  background: $light-elegant
.bgn-elegant
  background: $normal-elegant
.bgd-elegant
  background: $dark-elegant
// White
.bgn-white
  background: $normal-white
// Black
.bgn-black
  background: $normal-black



/* --- Background gradients colors --- */
// Most used in web design
.primary-gradient
  background: linear-gradient(90deg, #45cafc, #303f9f)
.info-gradient
  background: linear-gradient(90deg, #2096ff, #05ffa3)
.warning-gradient
  background: linear-gradient(90deg, #ffd86f, #fc6262)
.navy-gradient
  background: linear-gradient(90deg, #30cfd0, #330867)
.purple-gradient
  background: linear-gradient(90deg, #ff6ec4, #7873f5)
.pink-gradient
  background: linear-gradient(90deg, #fbc2eb, #a6c1ee)