/* --- Sizing --- */

// Fixed container sizes with visual width and visual height
// Widths
.vw-1
  width: 1vw
  &-hover:hover
    @extend .vw-1
.vw-2
  width: 2vw
  &-hover:hover
    @extend .vw-2
.vw-3
  width: 3vw
  &-hover:hover
    @extend .vw-3
.vw-4
  width: 4vw
  &-hover:hover
    @extend .vw-4
.vw-5
  width: 5vw
  &-hover:hover
    @extend .vw-5
.vw-6
  width: 6vw
  &-hover:hover
    @extend .vw-6
.vw-7
  width: 7vw
  &-hover:hover
    @extend .vw-7
.vw-8
  width: 8vw
  &-hover:hover
    @extend .vw-8
.vw-9
  width: 9vw
  &-hover:hover
    @extend .vw-9
.vw-10
  width: 10vw
  &-hover:hover
    @extend .vw-10
.vw-15
  width: 15vw
  &-hover:hover
    @extend .vw-15
.vw-20
  width: 20vw
  &-hover:hover
    @extend .vw-20
.vw-30
  width: 30vw
  &-hover:hover
    @extend .vw-30
.vw-35
  width: 35vw
  &-hover:hover
    @extend .vw-35
.vw-40
  width: 40vw
  &-hover:hover
    @extend .vw-40
.vw-45
  width: 45vw
  &-hover:hover
    @extend .vw-45
.vw-55
  width: 55vw
  &-hover:hover
    @extend .vw-55
.vw-60
  width: 60vw
  &-hover:hover
    @extend .vw-60
.vw-65
  width: 65vw
  &-hover:hover
    @extend .vw-65
.vw-70
  width: 70vw
  &-hover:hover
    @extend .vw-70
.vw-80
  width: 80vw
  &-hover:hover
    @extend .vw-80
.vw-85
  width: 85vw
  &-hover:hover
    @extend .vw-85
.vw-90
  width: 90vw
  &-hover:hover
    @extend .vw-90
.vw-95
  width: 95vw
  &-hover:hover
    @extend .vw-95

// Heights
.vh-1
  height: 1vh
  &-hover:hover
    @extend .vh-1
.vh-2
  height: 2vh
  &-hover:hover
    @extend .vh-2
.vh-3
  height: 3vh
  &-hover:hover
    @extend .vh-3
.vh-4
  height: 4vh
  &-hover:hover
    @extend .vh-4
.vh-5
  height: 5vh
  &-hover:hover
    @extend .vh-5
.vh-6
  height: 6vh
  &-hover:hover
    @extend .vh-6
.vh-7
  height: 7vh
  &-hover:hover
    @extend .vh-7
.vh-8
  height: 8vh
  &-hover:hover
    @extend .vh-8
.vh-9
  height: 9vh
  &-hover:hover
    @extend .vh-9
.vh-10
  height: 10vh
  &-hover:hover
    @extend .vh-10
.vh-15
  height: 15vh
  &-hover:hover
    @extend .vh-15
.vh-20
  height: 20vh
  &-hover:hover
    @extend .vh-20
.vh-30
  height: 30vh
  &-hover:hover
    @extend .vh-30
.vh-35
  height: 35vh
  &-hover:hover
    @extend .vh-35
.vh-40
  height: 40vh
  &-hover:hover
    @extend .vh-40
.vh-45
  height: 45vh
  &-hover:hover
    @extend .vh-45
.vh-55
  height: 55vh
  &-hover:hover
    @extend .vh-55
.vh-60
  height: 60vh
  &-hover:hover
    @extend .vh-60
.vh-65
  height: 65vh
  &-hover:hover
    @extend .vh-65
.vh-70
  height: 70vh
  &-hover:hover
    @extend .vh-70
.vh-80
  height: 80vh
  &-hover:hover
    @extend .vh-80
.vh-85
  height: 85vh
  &-hover:hover
    @extend .vh-85
.vh-90
  height: 90vh
  &-hover:hover
    @extend .vh-90
.vh-95
  height: 95vh
  &-hover:hover
    @extend .vh-95

// Percentage sizes, according to parent container
// Widths
.w-auto
  width: auto
  &-hover:hover
    @extend .w-auto
.w-5
  width: $spacer-5
  &-hover:hover
    @extend .w-5
.w-10
  width: $spacer-10
  &-hover:hover
    @extend .w-10
.w-15
  width: $spacer-15
  &-hover:hover
    @extend .w-15
.w-20
  width: $spacer-20
  &-hover:hover
    @extend .w-20
.w-30
  width: $spacer-30
  &-hover:hover
    @extend .w-30
.w-35
  width: $spacer-35
  &-hover:hover
    @extend .w-35
.w-40
  width: $spacer-40
  &-hover:hover
    @extend .w-40
.w-45
  width: $spacer-45
  &-hover:hover
    @extend .w-45
.w-55
  width: $spacer-55
  &-hover:hover
    @extend .w-55
.w-60
  width: $spacer-60
  &-hover:hover
    @extend .w-60
.w-65
  width: $spacer-65
  &-hover:hover
    @extend .w-65
.w-70
  width: $spacer-70
  &-hover:hover
    @extend .w-70
.w-80
  width: $spacer-80
  &-hover:hover
    @extend .w-80
.w-85
  width: $spacer-85
  &-hover:hover
    @extend .w-85
.w-90
  width: $spacer-90
  &-hover:hover
    @extend .w-90
.w-95
  width: $spacer-95
  &-hover:hover
    @extend .w-95

// Heights
.h-auto
  height: auto
  &-hover:hover
    @extend .h-auto
.h-5
  height: $spacer-5
  &-hover:hover
    @extend .h-5
.h-10
  height: $spacer-10
  &-hover:hover
    @extend .h-10
.h-15
  height: $spacer-15
  &-hover:hover
    @extend .h-15
.h-20
  height: $spacer-20
  &-hover:hover
    @extend .h-20
.h-30
  height: $spacer-30
  &-hover:hover
    @extend .h-30
.h-35
  height: $spacer-35
  &-hover:hover
    @extend .h-35
.h-40
  height: $spacer-40
  &-hover:hover
    @extend .h-40
.h-45
  height: $spacer-45
  &-hover:hover
    @extend .h-45
.h-55
  height: $spacer-55
  &-hover:hover
    @extend .h-55
.h-60
  height: $spacer-60
  &-hover:hover
    @extend .h-60
.h-65
  height: $spacer-65
  &-hover:hover
    @extend .h-65
.h-70
  height: $spacer-70
  &-hover:hover
    @extend .h-70
.h-80
  height: $spacer-80
  &-hover:hover
    @extend .h-80
.h-85
  height: $spacer-85
  &-hover:hover
    @extend .h-85
.h-90
  height: $spacer-90
  &-hover:hover
    @extend .h-90
.h-95
  height: $spacer-95
  &-hover:hover
    @extend .h-95