/* --- Sizing --- */

// Fixed container sizes with visual width and visual height
// Widths
.vw-1
  width: 1vw
.vw-2
  width: 2vw
.vw-3
  width: 3vw
.vw-4
  width: 4vw
.vw-5
  width: 5vw
.vw-6
  width: 6vw
.vw-7
  width: 7vw
.vw-8
  width: 8vw
.vw-9
  width: 9vw
.vw-10
  width: 10vw
.vw-15
  width: 15vw
.vw-20
  width: 20vw
.vw-30
  width: 30vw
.vw-35
  width: 35vw
.vw-40
  width: 40vw
.vw-45
  width: 45vw
.vw-55
  width: 55vw
.vw-60
  width: 60vw
.vw-65
  width: 65vw
.vw-70
  width: 70vw
.vw-80
  width: 80vw
.vw-85
  width: 85vw
.vw-90
  width: 90vw
.vw-95
  width: 95vw

// Heights
.vh-1
  height: 1vh
.vh-2
  height: 2vh
.vh-3
  height: 3vh
.vh-4
  height: 4vh
.vh-5
  height: 5vh
.vh-6
  height: 6vh
.vh-7
  height: 7vh
.vh-8
  height: 8vh
.vh-9
  height: 9vh
.vh-10
  height: 10vh
.vh-15
  height: 15vh
.vh-20
  height: 20vh
.vh-30
  height: 30vh
.vh-35
  height: 35vh
.vh-40
  height: 40vh
.vh-45
  height: 45vh
.vh-55
  height: 55vh
.vh-60
  height: 60vh
.vh-65
  height: 65vh
.vh-70
  height: 70vh
.vh-80
  height: 80vh
.vh-85
  height: 85vh
.vh-90
  height: 90vh
.vh-95
  height: 95vh

// Percentage sizes, according to parent container
// Widths
.w-auto
  width: auto
.w-5
  width: $spacer-5
.w-10
  width: $spacer-10
.w-15
  width: $spacer-15
.w-20
  width: $spacer-20
.w-30
  width: $spacer-30
.w-35
  width: $spacer-35
.w-40
  width: $spacer-40
.w-45
  width: $spacer-45
.w-55
  width: $spacer-55
.w-60
  width: $spacer-60
.w-65
  width: $spacer-65
.w-70
  width: $spacer-70
.w-80
  width: $spacer-80
.w-85
  width: $spacer-85
.w-90
  width: $spacer-90
.w-95
  width: $spacer-95

// Heights
.h-auto
  height: auto
.h-5
  height: $spacer-5
.h-10
  height: $spacer-10
.h-15
  height: $spacer-15
.h-20
  height: $spacer-20
.h-30
  height: $spacer-30
.h-35
  height: $spacer-35
.h-40
  height: $spacer-40
.h-45
  height: $spacer-45
.h-55
  height: $spacer-55
.h-60
  height: $spacer-60
.h-65
  height: $spacer-65
.h-70
  height: $spacer-70
.h-80
  height: $spacer-80
.h-85
  height: $spacer-85
.h-90
  height: $spacer-90
.h-95
  height: $spacer-95