/* Margins */
// General
.m-10
  margin: $spacer-10
.m-15
  margin: $spacer-15
.m-20
  margin: $spacer-20
.m-25
  margin: $spacer-25
.m-30
  margin: $spacer-30
.m-35
  margin: $spacer-35
.m-40
  margin: $spacer-40
.m-45
  margin: $spacer-45
.m-50
  margin: $spacer-50
.m-55
  margin: $spacer-55
.m-60
  margin: $spacer-60
.m-65
  margin: $spacer-65
.m-70
  margin: $spacer-70
.m-75
  margin: $spacer-75
.m-80
  margin: $spacer-80
.m-85
  margin: $spacer-85
.m-90
  margin: $spacer-90
.m-95
  margin: $spacer-95
.m-100
  margin: $spacer-100
// margin top
.mt-10
  margin-top: $spacer-10
.mt-15
  margin-top: $spacer-15
.mt-20
  margin-top: $spacer-20
.mt-25
  margin-top: $spacer-25
.mt-30
  margin-top: $spacer-30
.mt-35
  margin-top: $spacer-35
.mt-40
  margin-top: $spacer-40
.mt-45
  margin-top: $spacer-45
.mt-50
  margin-top: $spacer-50
.mt-55
  margin-top: $spacer-55
.mt-60
  margin-top: $spacer-60
.mt-65
  margin-top: $spacer-65
.mt-70
  margin-top: $spacer-70
.mt-75
  margin-top: $spacer-75
.mt-80
  margin-top: $spacer-80
.mt-85
  margin-top: $spacer-85
.mt-90
  margin-top: $spacer-90
.mt-95
  margin-top: $spacer-95
.mt-100
  margin-top: $spacer-100
// margin bottom
.mb-10
  margin-bottom: $spacer-10
.mb-15
  margin-bottom: $spacer-15
.mb-20
  margin-bottom: $spacer-20
.mb-25
  margin-bottom: $spacer-25
.mb-30
  margin-bottom: $spacer-30
.mb-35
  margin-bottom: $spacer-35
.mb-40
  margin-bottom: $spacer-40
.mb-45
  margin-bottom: $spacer-45
.mb-50
  margin-bottom: $spacer-50
.mb-55
  margin-bottom: $spacer-55
.mb-60
  margin-bottom: $spacer-60
.mb-65
  margin-bottom: $spacer-65
.mb-70
  margin-bottom: $spacer-70
.mb-75
  margin-bottom: $spacer-75
.mb-80
  margin-bottom: $spacer-80
.mb-85
  margin-bottom: $spacer-85
.mb-90
  margin-bottom: $spacer-90
.mb-95
  margin-bottom: $spacer-95
.mb-100
  margin-bottom: $spacer-100
// margin left
.ml-10
  margin-left: $spacer-10
.ml-15
  margin-left: $spacer-15
.ml-20
  margin-left: $spacer-20
.ml-25
  margin-left: $spacer-25
.ml-30
  margin-left: $spacer-30
.ml-35
  margin-left: $spacer-35
.ml-40
  margin-left: $spacer-40
.ml-45
  margin-left: $spacer-45
.ml-50
  margin-left: $spacer-50
.ml-55
  margin-left: $spacer-55
.ml-60
  margin-left: $spacer-60
.ml-65
  margin-left: $spacer-65
.ml-70
  margin-left: $spacer-70
.ml-75
  margin-left: $spacer-75
.ml-80
  margin-left: $spacer-80
.ml-85
  margin-left: $spacer-85
.ml-90
  margin-left: $spacer-90
.ml-95
  margin-left: $spacer-95
.ml-100
  margin-left: $spacer-100
// margin right
.mr-10
  margin-right: $spacer-10
.mr-15
  margin-right: $spacer-15
.mr-20
  margin-right: $spacer-20
.mr-25
  margin-right: $spacer-25
.mr-30
  margin-right: $spacer-30
.mr-35
  margin-right: $spacer-35
.mr-40
  margin-right: $spacer-40
.mr-45
  margin-right: $spacer-45
.mr-50
  margin-right: $spacer-50
.mr-55
  margin-right: $spacer-55
.mr-60
  margin-right: $spacer-60
.mr-65
  margin-right: $spacer-65
.mr-70
  margin-right: $spacer-70
.mr-75
  margin-right: $spacer-75
.mr-80
  margin-right: $spacer-80
.mr-85
  margin-right: $spacer-85
.mr-90
  margin-right: $spacer-90
.mr-95
  margin-right: $spacer-95
.mr-100
  margin-right: $spacer-100
// margin left and right
.mx-10
  margin-left: $spacer-10
  margin-right: $spacer-10
.mx-15
  margin-left: $spacer-15
  margin-right: $spacer-15
.mx-20
  margin-left: $spacer-20
  margin-right: $spacer-20
.mx-25
  margin-left: $spacer-25
  margin-right: $spacer-25
.mx-30
  margin-left: $spacer-30
  margin-right: $spacer-30
.mx-35
  margin-left: $spacer-35
  margin-right: $spacer-35
.mx-40
  margin-left: $spacer-40
  margin-right: $spacer-40
.mx-45
  margin-left: $spacer-45
  margin-right: $spacer-45
.mx-50
  margin-left: $spacer-50
  margin-right: $spacer-50
.mx-55
  margin-left: $spacer-55
  margin-right: $spacer-55
.mx-60
  margin-left: $spacer-60
  margin-right: $spacer-60
.mx-65
  margin-left: $spacer-65
  margin-right: $spacer-65
.mx-70
  margin-left: $spacer-70
  margin-right: $spacer-70
.mx-75
  margin-left: $spacer-75
  margin-right: $spacer-75
.mx-80
  margin-left: $spacer-80
  margin-right: $spacer-80
.mx-85
  margin-left: $spacer-85
  margin-right: $spacer-85
.mx-90
  margin-left: $spacer-90
  margin-right: $spacer-90
.mx-95
  margin-left: $spacer-95
  margin-right: $spacer-95
.mx-100
  margin-left: $spacer-100
  margin-right: $spacer-100
// margin top and bottom
.my-10
  margin-top: $spacer-10
  margin-bottom: $spacer-10
.my-15
  margin-top: $spacer-15
  margin-bottom: $spacer-15
.my-20
  margin-top: $spacer-20
  margin-bottom: $spacer-20
.my-25
  margin-top: $spacer-25
  margin-bottom: $spacer-25
.my-30
  margin-top: $spacer-30
  margin-bottom: $spacer-30
.my-35
  margin-top: $spacer-35
  margin-bottom: $spacer-35
.my-40
  margin-top: $spacer-40
  margin-bottom: $spacer-40
.my-45
  margin-top: $spacer-45
  margin-bottom: $spacer-45
.my-50
  margin-top: $spacer-50
  margin-bottom: $spacer-50
.my-55
  margin-top: $spacer-55
  margin-bottom: $spacer-55
.my-60
  margin-top: $spacer-60
  margin-bottom: $spacer-60
.my-65
  margin-top: $spacer-65
  margin-bottom: $spacer-65
.my-70
  margin-top: $spacer-70
  margin-bottom: $spacer-70
.my-75
  margin-top: $spacer-75
  margin-bottom: $spacer-75
.my-80
  margin-top: $spacer-80
  margin-bottom: $spacer-80
.my-85
  margin-top: $spacer-85
  margin-bottom: $spacer-85
.my-90
  margin-top: $spacer-90
  margin-bottom: $spacer-90
.my-95
  margin-top: $spacer-95
  margin-bottom: $spacer-95
.my-100
  margin-top: $spacer-100
  margin-bottom: $spacer-100

/* Paddings */
// General
.p-10
  padding: $spacer-10
.p-15
  padding: $spacer-15
.p-20
  padding: $spacer-20
.p-25
  padding: $spacer-25
.p-30
  padding: $spacer-30
.p-35
  padding: $spacer-35
.p-40
  padding: $spacer-40
.p-45
  padding: $spacer-45
.p-50
  padding: $spacer-50
.p-55
  padding: $spacer-55
.p-60
  padding: $spacer-60
.p-65
  padding: $spacer-65
.p-70
  padding: $spacer-70
.p-75
  padding: $spacer-75
.p-80
  padding: $spacer-80
.p-85
  padding: $spacer-85
.p-90
  padding: $spacer-90
.p-95
  padding: $spacer-95
.p-100
  padding: $spacer-100
// padding top
.pt-10
  padding-top: $spacer-10
.pt-15
  padding-top: $spacer-15
.pt-20
  padding-top: $spacer-20
.pt-25
  padding-top: $spacer-25
.pt-30
  padding-top: $spacer-30
.pt-35
  padding-top: $spacer-35
.pt-40
  padding-top: $spacer-40
.pt-45
  padding-top: $spacer-45
.pt-50
  padding-top: $spacer-50
.pt-55
  padding-top: $spacer-55
.pt-60
  padding-top: $spacer-60
.pt-65
  padding-top: $spacer-65
.pt-70
  padding-top: $spacer-70
.pt-75
  padding-top: $spacer-75
.pt-80
  padding-top: $spacer-80
.pt-85
  padding-top: $spacer-85
.pt-90
  padding-top: $spacer-90
.pt-95
  padding-top: $spacer-95
.pt-100
  padding-top: $spacer-100
// padding bottom
.pb-10
  padding-bottom: $spacer-10
.pb-15
  padding-bottom: $spacer-15
.pb-20
  padding-bottom: $spacer-20
.pb-25
  padding-bottom: $spacer-25
.pb-30
  padding-bottom: $spacer-30
.pb-35
  padding-bottom: $spacer-35
.pb-40
  padding-bottom: $spacer-40
.pb-45
  padding-bottom: $spacer-45
.pb-50
  padding-bottom: $spacer-50
.pb-55
  padding-bottom: $spacer-55
.pb-60
  padding-bottom: $spacer-60
.pb-65
  padding-bottom: $spacer-65
.pb-70
  padding-bottom: $spacer-70
.pb-75
  padding-bottom: $spacer-75
.pb-80
  padding-bottom: $spacer-80
.pb-85
  padding-bottom: $spacer-85
.pb-90
  padding-bottom: $spacer-90
.pb-95
  padding-bottom: $spacer-95
.pb-100
  padding-bottom: $spacer-100
// padding left
.pl-10
  padding-left: $spacer-10
.pl-15
  padding-left: $spacer-15
.pl-20
  padding-left: $spacer-20
.pl-25
  padding-left: $spacer-25
.pl-30
  padding-left: $spacer-30
.pl-35
  padding-left: $spacer-35
.pl-40
  padding-left: $spacer-40
.pl-45
  padding-left: $spacer-45
.pl-50
  padding-left: $spacer-50
.pl-55
  padding-left: $spacer-55
.pl-60
  padding-left: $spacer-60
.pl-65
  padding-left: $spacer-65
.pl-70
  padding-left: $spacer-70
.pl-75
  padding-left: $spacer-75
.pl-80
  padding-left: $spacer-80
.pl-85
  padding-left: $spacer-85
.pl-90
  padding-left: $spacer-90
.pl-95
  padding-left: $spacer-95
.pl-100
  padding-left: $spacer-100
// padding right
.pr-10
  padding-right: $spacer-10
.pr-15
  padding-right: $spacer-15
.pr-20
  padding-right: $spacer-20
.pr-25
  padding-right: $spacer-25
.pr-30
  padding-right: $spacer-30
.pr-35
  padding-right: $spacer-35
.pr-40
  padding-right: $spacer-40
.pr-45
  padding-right: $spacer-45
.pr-50
  padding-right: $spacer-50
.pr-55
  padding-right: $spacer-55
.pr-60
  padding-right: $spacer-60
.pr-65
  padding-right: $spacer-65
.pr-70
  padding-right: $spacer-70
.pr-75
  padding-right: $spacer-75
.pr-80
  padding-right: $spacer-80
.pr-85
  padding-right: $spacer-85
.pr-90
  padding-right: $spacer-90
.pr-95
  padding-right: $spacer-95
.pr-100
  padding-right: $spacer-100
// padding left and right
.px-10
  padding-left: $spacer-10
  padding-right: $spacer-10
.px-15
  padding-left: $spacer-15
  padding-right: $spacer-15
.px-20
  padding-left: $spacer-20
  padding-right: $spacer-20
.px-25
  padding-left: $spacer-25
  padding-right: $spacer-25
.px-30
  padding-left: $spacer-30
  padding-right: $spacer-30
.px-35
  padding-left: $spacer-35
  padding-right: $spacer-35
.px-40
  padding-left: $spacer-40
  padding-right: $spacer-40
.px-45
  padding-left: $spacer-45
  padding-right: $spacer-45
.px-50
  padding-left: $spacer-50
  padding-right: $spacer-50
.px-55
  padding-left: $spacer-55
  padding-right: $spacer-55
.px-60
  padding-left: $spacer-60
  padding-right: $spacer-60
.px-65
  padding-left: $spacer-65
  padding-right: $spacer-65
.px-70
  padding-left: $spacer-70
  padding-right: $spacer-70
.px-75
  padding-left: $spacer-75
  padding-right: $spacer-75
.px-80
  padding-left: $spacer-80
  padding-right: $spacer-80
.px-85
  padding-left: $spacer-85
  padding-right: $spacer-85
.px-90
  padding-left: $spacer-90
  padding-right: $spacer-90
.px-95
  padding-left: $spacer-95
  padding-right: $spacer-95
.px-100
  padding-left: $spacer-100
  padding-right: $spacer-100
// padding top and bottom
.py-10
  padding-top: $spacer-10
  padding-bottom: $spacer-10
.py-15
  padding-top: $spacer-15
  padding-bottom: $spacer-15
.py-20
  padding-top: $spacer-20
  padding-bottom: $spacer-20
.py-25
  padding-top: $spacer-25
  padding-bottom: $spacer-25
.py-30
  padding-top: $spacer-30
  padding-bottom: $spacer-30
.py-35
  padding-top: $spacer-35
  padding-bottom: $spacer-35
.py-40
  padding-top: $spacer-40
  padding-bottom: $spacer-40
.py-45
  padding-top: $spacer-45
  padding-bottom: $spacer-45
.py-50
  padding-top: $spacer-50
  padding-bottom: $spacer-50
.py-55
  padding-top: $spacer-55
  padding-bottom: $spacer-55
.py-60
  padding-top: $spacer-60
  padding-bottom: $spacer-60
.py-65
  padding-top: $spacer-65
  padding-bottom: $spacer-65
.py-70
  padding-top: $spacer-70
  padding-bottom: $spacer-70
.py-75
  padding-top: $spacer-75
  padding-bottom: $spacer-75
.py-80
  padding-top: $spacer-80
  padding-bottom: $spacer-80
.py-85
  padding-top: $spacer-85
  padding-bottom: $spacer-85
.py-90
  padding-top: $spacer-90
  padding-bottom: $spacer-90
.py-95
  padding-top: $spacer-95
  padding-bottom: $spacer-95
.py-100
  padding-top: $spacer-100
  padding-bottom: $spacer-100