/* --- --- Layout --- --- */  
/* --- Flexbox --- */
.jc-evenly
  justify-content: space-evenly
.jc-fs
  justify-content: flex-start
.jc-fe
  justify-content: flex-end
.ai-evenly
  align-items: space-evenly
.ai-fs
  align-items: flex-start
.ai-fe
  align-items: flex-end
  
/* Box-sizing-content-box */
.selector-for-some-widget
  box-sizing: content-box
/* Wrap content */
.ws-nw
  white-space: nowrap