/* --- Layout --- */
\:root
  /* Breakpoints */
  --breakpoint-xs: 0
  --breakpoint-sm: 576px
  --breakpoint-md: 768px
  --breakpoint-lg: 992px
  --breakpoint-xl: 1200px
/* Justify-align-items */
.jc-evenly
  justify-content: space-evenly
.jc-fs
  justify-content: flex-start
.jc-fe
  justify-content: flex-end
.ai-evenly
  align-items: space-evenly
.ai-fs
  align-items: flex-start
.ai-fe
  align-items: flex-end
/* Box-sizing-content-box */
.selector-for-some-widget
  box-sizing: content-box
/* Wrap content */
.ws-nw
  white-space: nowrap
/* Widths */
.w-5
  width: 5%
.w-10
  width: 10%
.w-15
  width: 15%
.w-20
  width: 20%
.w-30
  width: 30%
.w-35
  width: 35%
.w-40
  width: 40%
.w-45
  width: 45%
.w-55
  width: 55%
.w-60
  width: 60%
.w-65
  width: 65%
.w-70
  width: 70%
.w-80
  width: 80%
.w-85
  width: 85%
.w-90
  width: 90%
.w-95
  width: 95%