/* Background-Image */
.bg-size-cover
  background-size: cover
.bg-size-contain
  background-size: contain
.bg-pos-center
  background-position: center
.bg-rep-norep
  background-repeat: no-repeat
.bgi-abstract
  background-image: url(http://lorempixel.com/1600/900/abstract/)
.bgi-animals
  background-image: url(http://lorempixel.com/1600/900/animals/)
.bgi-business
  background-image: url(http://lorempixel.com/1600/900/business/)
.bgi-cats
  background-image: url(http://lorempixel.com/1600/900/cats/)
.bgi-city
  background-image: url(http://lorempixel.com/1600/900/city/)
.bgi-food
  background-image: url(http://lorempixel.com/1600/900/food/)
.bgi-nightlife
  background-image: url(http://lorempixel.com/1600/900/nightlife/)
.bgi-fashion
  background-image: url(http://lorempixel.com/1600/900/fashion/)
.bgi-people
  background-image: url(http://lorempixel.com/1600/900/people/)
.bgi-nature
  background-image: url(http://lorempixel.com/1600/900/nature/)
.bgi-sports
  background-image: url(http://lorempixel.com/1600/900/sports/)
.bgi-technics
  background-image: url(http://lorempixel.com/1600/900/technics/)
.bgi-transport
  background-image: url(http://lorempixel.com/1600/900/transport/)
/* Images */
.of-cover
  object-fit: cover