/* --- Typography --- */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700&display=swap')
@import url('https://fonts.googleapis.com/css?family=Courier+Prime:400,700&display=swap')
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap')
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,400,700&display=swap')
@import url('https://fonts.googleapis.com/css?family=Raleway:100,400,700&display=swap')
@import url('https://fonts.googleapis.com/css?family=Muli:200,400,700&display=swap')

\:root
  /* Font-family */
  --montserrat: "Montserrat", sans-serif, serif
  --roboto: "Roboto", sans-serif, serif
  --courier-prime: "Courier Prime", sans-serif, serif
  --open-sans: "Open Sans", sans-serif, serif
  --raleway: "Raleway", sans-serif, serif
  --muli: "Muli", sans-serif, serif
  /* Font-weight */
  --fw-100: 100
  --fw-400: 400
  --fw-700: 700

/* Font-size */
.fz-05rem
  font-size: .5rem
.fz-1rem
  font-size: 1rem
.fz-2rem
  font-size: 2rem
.fz-3rem
  font-size: 3rem
.fz-4rem
  font-size: 4rem
.fz-5rem
  font-size: 5rem
/* Links */
.td-none
  text-decoration: none !important