// import ../_variables.sass
/* --- --- Typography --- --- */

@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700&display=swap')
@import url('https://fonts.googleapis.com/css?family=Courier+Prime:100,400,700&display=swap')
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap')
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,400,700&display=swap')
@import url('https://fonts.googleapis.com/css?family=Raleway:100,400,700&display=swap')
@import url('https://fonts.googleapis.com/css?family=Muli:100,400,700&display=swap')

/* Font-size */
.fz-05rem
  font-size: .5rem
.fz-1rem
  font-size: 1rem
.fz-2rem
  font-size: 2rem
.fz-3rem
  font-size: 3rem
.fz-4rem
  font-size: 4rem
.fz-5rem
  font-size: 5rem
  
/* Links */
.td-none
  text-decoration: none !important

/* Fonts */
.montserrat
  font-family: $montserrat
.roboto
  font-family: $roboto
.courier
  font-family: $courier-prime
.open-sans
  font-family: $open-sans
.raleway
  font-family: $raleway
.muli
  font-family: $muli

/* Text Colors */
.text-navy
  color: $normal-navy
  &-light
    color: $light-navy
    &-hover:hover
      color: $light-navy
  &-dark
    color: $dark-navy
    &-hover:hover
      color: $dark-navy
  &-hover:hover
    @extend .text-navy
.text-indigo
  color: $normal-indigo
  &-light
    color: $light-indigo
    &-hover:hover
      color: $light-indigo
  &-dark
    color: $dark-indigo
    &-hover:hover
      color: $dark-indigo
  &-hover:hover
    @extend .text-indigo
.text-blue
  color: $normal-blue
  &-light
    color: $light-blue
    &-hover:hover
      color: $light-blue
  &-dark
    color: $dark-blue
    &-hover:hover
      color: $dark-blue
  &-hover:hover
    @extend .text-blue
.text-cyan
  color: $normal-cyan
  &-light
    color: $light-cyan
    &-hover:hover
      color: $light-cyan
  &-dark
    color: $dark-cyan
    &-hover:hover
      color: $dark-cyan
  &-hover:hover
    @extend .text-cyan
.text-lilac
  color: $normal-lilac
  &-light
    color: $light-lilac
    &-hover:hover
      color: $light-lilac
  &-dark
    color: $dark-lilac
    &-hover:hover
      color: $dark-lilac
  &-hover:hover
    @extend .text-lilac
.text-purple
  color: $normal-purple
  &-light
    color: $light-purple
    &-hover:hover
      color: $light-purple
  &-dark
    color: $dark-purple
    &-hover:hover
      color: $dark-purple
  &-hover:hover
    @extend .text-purple
.text-pink
  color: $normal-pink
  &-light
    color: $light-pink
    &-hover:hover
      color: $light-pink
  &-dark
    color: $dark-pink
    &-hover:hover
      color: $dark-pink
  &-hover:hover
    @extend .text-pink
.text-red
  color: $normal-red
  &-light
    color: $light-red
    &-hover:hover
      color: $light-red
  &-dark
    color: $dark-red
    &-hover:hover
      color: $dark-red
  &-hover:hover
    @extend .text-red
.text-orange
  color: $normal-orange
  &-light
    color: $light-orange
    &-hover:hover
      color: $light-orange
  &-dark
    color: $dark-orange
    &-hover:hover
      color: $dark-orange
  &-hover:hover
    @extend .text-orange
.text-amber
  color: $normal-amber
  &-light
    color: $light-amber
    &-hover:hover
      color: $light-amber
  &-dark
    color: $dark-amber
    &-hover:hover
      color: $dark-amber
  &-hover:hover
    @extend .text-amber
.text-yellow
  color: $normal-yellow
  &-light
    color: $light-yellow
    &-hover:hover
      color: $light-yellow
  &-dark
    color: $dark-yellow
    &-hover:hover
      color: $dark-yellow
  &-hover:hover
    @extend .text-yellow
.text-lime
  color: $normal-lime
  &-light
    color: $light-lime
    &-hover:hover
      color: $light-lime
  &-dark
    color: $dark-lime
    &-hover:hover
      color: $dark-lime
  &-hover:hover
    @extend .text-lime
.text-green
  color: $normal-green
  &-light
    color: $light-green
    &-hover:hover
      color: $light-green
  &-dark
    color: $dark-green
    &-hover:hover
      color: $dark-green
  &-hover:hover
    @extend .text-green
.text-brown
  color: $normal-brown
  &-light
    color: $light-brown
    &-hover:hover
      color: $light-brown
  &-dark
    color: $dark-brown
    &-hover:hover
      color: $dark-brown
  &-hover:hover
    @extend .text-brown
.text-teal
  color: $normal-teal
  &-light
    color: $light-teal
    &-hover:hover
      color: $light-teal
  &-dark
    color: $dark-teal
    &-hover:hover
      color: $dark-teal
  &-hover:hover
    @extend .text-teal
.text-gray
  color: $normal-gray
  &-light
    color: $light-gray
    &-hover:hover
      color: $light-gray
  &-dark
    color: $dark-gray
    &-hover:hover
      color: $dark-gray
  &-hover:hover
    @extend .text-gray
.text-elegant
  color: $normal-elegant
  &-light
    color: $light-elegant
    &-hover:hover
      color: $light-elegant
  &-dark
    color: $dark-elegant
    &-hover:hover
      color: $dark-elegant
  &-hover:hover
    @extend .text-elegant
.text-white
  color: $normal-white
.text-black
  color: $normal-black

/* Font Weight */
.text-bold
  font-weight: 700
  &-hover:hover
    @extend .text-bold
.text-normal
  font-weight: 400
  &-hover:hover
    @extend .text-normal
.text-thin
  font-weight: 100
  &-hover:hover
    @extend .text-thin
.text-underline
  text-decoration: underline
  &-hover:hover
    @extend .text-underline

/* Letter Spacing */
.ls-1
  letter-spacing: 1px
  &-hover:hover
    @extend .ls-1
.ls-2
  letter-spacing: 2px
  &-hover:hover
    @extend .ls-2
.ls-3
  letter-spacing: 3px
  &-hover:hover
    @extend .ls-3
.ls-4
  letter-spacing: 4px
  &-hover:hover
    @extend .ls-4
.ls-5
  letter-spacing: 5px
  &-hover:hover
    @extend .ls-5

    

/* Line Height */
.lh-05
  line-height: 50%
  &-hover:hover
    @extend .lh-05
.lh-06
  line-height: 60%
  &-hover:hover
    @extend .lh-06
.lh-07
  line-height: 70%
  &-hover:hover
    @extend .lh-07
.lh-08
  line-height: 80%
  &-hover:hover
    @extend .lh-08
.lh-09
  line-height: 90%
  &-hover:hover
    @extend .lh-09
.lh-1
  line-height: 100%
  &-hover:hover
    @extend .lh-1